/* 
 * 颜色
 */

.white {
	color: white;
}

.black {
	color: black;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.pink {
	color: pink;
}

.blue {
	color: blue;
}

.yellow {
	color: yellow;
}

.purple {
	color: purple;
}


/**
 * 背景颜色
 */

.bg-white {
	background-color: white;
}

.bg-black {
	background-color: black;
}

.bg-red {
	background-color: red;
}

.bg-green {
	background-color: green;
}

.bg-blue {
	background-color: blue;
}

.bg-pink {
	background-color: pink;
}

.bg-blue {
	background-color: blue;
}

.bg-yellow {
	background-color: yellow;
}

.bg-purple {
	background-color: purple;
}