<!DOCTYPE html>
<html>

	<head>
		<title>XPC-登录</title>
		<meta charset="UTF-8">
		<!--引入CSS样式-->
		<include file="Public/meta" />

		<style type="text/css">
			body {
				background: url(__PUBLIC__/img/loginbg-imgs/loginbg_02.jpg) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			
			.modal-dialog {
				margin-top: 13%;
			}
			
			a {
				cursor: pointer;
			}
		</style>
	</head>

	<body>
		<div class="modal show">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">登录系统</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" action="{:U('Public/login')}" method="post">
							<div class="form-group">
								<label for="username" class="control-label col-sm-2">账　号：</label>
								<div class="col-sm-10">
									<input id="username" name="username" type="text" class="form-control" autocomplete="off" placeholder="请输入用户名">
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="control-label col-sm-2">密　码：</label>
								<div class="col-sm-10">
									<input id="password" name="password" type="password" class="form-control" placeholder="请输入密码">
								</div>
							</div>
							<div class="form-group">
								<label for="verify" class="control-label col-sm-2">验证码：</label>
								<div class="col-sm-4">
									<input id="verify" name="verify" type="text" class="form-control">
								</div>
								<div class="col-sm-3">
									<a class="refresh-verify"><img class="img-responsive" src="{:U('Public/verify')}" /></a>
								</div>
								<div class="col-sm-3">
									<a href="#" class="form-label"><u>忘记密码？</u></a>
								</div>
							</div>
							<div class="form-group text-center" style="margin-top: 40px;">
								<button type="submit" class="btn btn-primary" style="width: 150px;margin: 0 10px;">登录</button>
								<button type="reset" class="btn btn-danger" style="width: 150px;margin: 0 10px;">重新输入</button>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<span>Power by : XPC 技术支持QQ：<a href="tencent://message/?uin=450183439&Site=&Menu=yes">450183439</a></span>
					</div>
				</div>
			</div>
		</div>

		<!--引入JS脚本-->
		<include file="Public/script" />
		<script type="text/javascript">
			$(function() {
				$('body').css('background-image', 'url(__PUBLIC__/img/loginbg-imgs/loginbg_0' + Math.floor(Math.random() * 9 + 1) + '.jpg)');

				//初始化验证码
				$('.refresh-verify').click(function() {
					$('.refresh-verify img').attr('src', "{:U('Public/verify')}?time=" + Math.random());
				});
			});
		</script>
	</body>

</html>