<!DOCTYPE html>
<html>

	<head>
		<title></title>
		<meta charset="utf-8">
		<include file="Public/meta" />
		<style type="text/css">
			.index_header {
				background-color: #000;
			}
			
			.index_header li {
				display: inline;
				margin-left: 10px;
			}
			
			.control-panel {
				margin-top: 20px;
				margin-right: 10px;
			}
			
			#times {
				margin-right: 10px;
			}
		</style>
	</head>

	<body class="index_header">
		<div class="system_name left f30"><span class="white">XPC</span></div>

		<div id="times" class="white text-right f20"></div>

		<div class="right">
			<ul class="white control-panel">
				<li>
					<a>密码修改</a>
				</li>
				<li>
					<a>清理缓存</a>
				</li>
				<li>
					<a>退出系统</a>
				</li>
			</ul>
		</div>
		<script language="javascript">
			var timestamp = (Date.parse(new Date())).toString();
			var timeInt = parseInt(timestamp.substring(0, 10));
			var i = 0;
			setSystemTime();

			setInterval(setSystemTime, 1000);

			function setSystemTime() {
				now = new Date((timeInt + i + 28800) * 1000);
				i++;
				$('#times').html(now.toLocaleString());
			}
		</script>
	</body>

</html>