<div class="main-tab">
	<span class="tab-btn tab-btn-left">&lt;</span>
	<nav class="tab-nav">
		<div class="tab-nav-title">
			<a href="javascript:;" class="content-tab">首页</a>
			<a href="javascript:;" class="content-tab">模块管理<span class="tab-close">x</span></a>
			<a href="javascript:;" class="content-tab">文章管理<span class="tab-close">x</span></a>
			<a href="javascript:;" class="content-tab">图册管理<span class="tab-close">x</span></a>
		</div>
	</nav>
	<span class="tab-btn tab-btn-right">&gt;</span>
</div>